In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score
import shap
import matplotlib.pyplot as plt
import seaborn as sns
import japanize_matplotlib

file_path_2 = '/Users/yasudayuuya/orderpredict/yosoku/data/【2月】Bライン生産性結果記入用紙_Ver.4.3.xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_2 = pd.read_excel(file_path_2, sheet_name=sheet_name)

file_path_3 = '/Users/yasudayuuya/orderpredict/yosoku/data/【3月】Bライン生産性結果記入用紙_Ver.4.3.xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_3 = pd.read_excel(file_path_3, sheet_name=sheet_name)

file_path_6 = '/Users/yasudayuuya/orderpredict/yosoku/data/【6月】生産性結果記入用紙_Ver.4.3.xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_6 = pd.read_excel(file_path_3, sheet_name=sheet_name)

file_path_7 = '/Users/yasudayuuya/orderpredict/yosoku/data/【7月】生産性結果記入用紙_Ver.4.3.xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_7 = pd.read_excel(file_path_3, sheet_name=sheet_name)

file_path_8 = '/Users/yasudayuuya/orderpredict/yosoku/data/【8月】生産性結果記入用紙_Ver.4.3.xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_8 = pd.read_excel(file_path_3, sheet_name=sheet_name)

file_path_9 = '/Users/yasudayuuya/orderpredict/yosoku/data/【9月】生産性結果記入用紙_Ver.4.3 (1).xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_9 = pd.read_excel(file_path_3, sheet_name=sheet_name)

file_path_10 = '/Users/yasudayuuya/orderpredict/yosoku/data/【10月】生産性結果記入用紙_Ver.4.3 (1).xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定
data_10 = pd.read_excel(file_path_3, sheet_name=sheet_name)

/Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# 行列を逆にする
data_2 = data_2.T
# 1行目を列名にする
data_2.columns = data_2.iloc[1]
# 0,1行目を削除
data_2 = data_2.drop(data_2.index[[0, 1]])

# 行列を逆にする
data_3 = data_3.T
# 1行目を列名にする
data_3.columns = data_3.iloc[1]
# 0,1行目を削除
data_3 = data_3.drop(data_3.index[[0, 1]])

# 行列を逆にする
data_6 = data_6.T
# 1行目を列名にする
data_6.columns = data_6.iloc[1]
# 0,1行目を削除
data_6 = data_6.drop(data_6.index[[0, 1]])

# 行列を逆にする
data_7 = data_7.T
# 1行目を列名にする
data_7.columns = data_7.iloc[1]
# 0,1行目を削除
data_7 = data_7.drop(data_7.index[[0, 1]])

# 行列を逆にする
data_8 = data_8.T
# 1行目を列名にする
data_8.columns = data_8.iloc[1]
# 0,1行目を削除
data_8 = data_8.drop(data_8.index[[0, 1]])

# 行列を逆にする
data_9 = data_9.T
# 1行目を列名にする
data_9.columns = data_9.iloc[1]
# 0,1行目を削除
data_9 = data_9.drop(data_9.index[[0, 1]])

# 行列を逆にする
data_10 = data_10.T
# 1行目を列名にする
data_10.columns = data_10.iloc[1]
# 0,1行目を削除
data_10 = data_10.drop(data_10.index[[0, 1]])

In [3]:
# 欠損値を探す
data_2.isnull().sum()
data_3.isnull().sum()

Unnamed: 1
NaN            32
NaN            32
項目              0
件数              0
作業時間(分)         0
作業人数           20
リーダー人数         20
合計作業人数          3
作業ライン          20
1人あたりの作業時間     21
1本あたりの平均作業数    21
1日あたりの作業件数     31
dtype: int64

In [4]:
data_6.head()

Unnamed: 1,NaN,NaN,項目,件数,作業時間(分),作業人数,リーダー人数,合計作業人数,作業ライン,1人あたりの作業時間,1本あたりの平均作業数,1日あたりの作業件数
Unnamed: 2,NaN,NaN,2024-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,2024-10-02 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,2024-10-03 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,2024-10-04 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,2024-10-05 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN

In [5]:
data_7.head()

Unnamed: 1,NaN,NaN,項目,件数,作業時間(分),作業人数,リーダー人数,合計作業人数,作業ライン,1人あたりの作業時間,1本あたりの平均作業数,1日あたりの作業件数
Unnamed: 2,NaN,NaN,2024-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,2024-10-02 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,2024-10-03 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,2024-10-04 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,2024-10-05 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN

In [6]:
data_8.head()

Unnamed: 1,NaN,NaN,項目,件数,作業時間(分),作業人数,リーダー人数,合計作業人数,作業ライン,1人あたりの作業時間,1本あたりの平均作業数,1日あたりの作業件数
Unnamed: 2,NaN,NaN,2024-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,2024-10-02 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,2024-10-03 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,2024-10-04 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,2024-10-05 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN

In [7]:
data_9.head()

Unnamed: 1,NaN,NaN,項目,件数,作業時間(分),作業人数,リーダー人数,合計作業人数,作業ライン,1人あたりの作業時間,1本あたりの平均作業数,1日あたりの作業件数
Unnamed: 2,NaN,NaN,2024-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,2024-10-02 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,2024-10-03 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,2024-10-04 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,2024-10-05 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN

In [8]:
data_10.head()

Unnamed: 1,NaN,NaN,項目,件数,作業時間(分),作業人数,リーダー人数,合計作業人数,作業ライン,1人あたりの作業時間,1本あたりの平均作業数,1日あたりの作業件数
Unnamed: 2,NaN,NaN,2024-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,2024-10-02 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,2024-10-03 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,2024-10-04 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,2024-10-05 00:00:00,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN

In [9]:
data_2 = data_2.drop(data_2.columns[[0, 1, 9, 10]], axis=1)
data_3 = data_3.drop(data_3.columns[[0, 1, 2, 10, 11]], axis=1)
data_6 = data_6.drop(data_6.columns[[0, 1, 2, 10, 11]], axis=1)
data_7 = data_7.drop(data_7.columns[[0, 1, 2, 10, 11]], axis=1)
data_8 = data_8.drop(data_8.columns[[0, 1, 2, 10, 11]], axis=1)
data_9 = data_9.drop(data_9.columns[[0, 1, 2, 10, 11]], axis=1)
data_10 = data_10.drop(data_10.columns[[0, 1, 2, 10, 11]], axis=1)

In [10]:
# NaNを全て0に変換
data_2 = data_2.fillna(0)
data_3 = data_3.fillna(0)
data_6 = data_6.fillna(0)
data_7 = data_7.fillna(0)
data_8 = data_8.fillna(0)
data_9 = data_9.fillna(0)
data_10 = data_10.fillna(0)

/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_2 = data_2.fillna(0)
/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_3 = data_3.fillna(0)
/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_6 = data_6.fillna(0)
/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_7 = data_7.fillna(0)
/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_8 = data_8.fillna(0)
/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_9 = data_9.fillna(0)
/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_74411/2880425042.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_10 = data_10.fillna(0)

In [11]:
# 0列目のデータを表示
data_2.iloc[:, 0]

Unnamed: 2        0
Unnamed: 3        0
Unnamed: 4        0
Unnamed: 5        0
Unnamed: 6        0
Unnamed: 7      177
Unnamed: 8      294
Unnamed: 9      177
Unnamed: 10       0
Unnamed: 11     380
Unnamed: 12     640
Unnamed: 13     481
Unnamed: 14     530
Unnamed: 15     569
Unnamed: 16       0
Unnamed: 17       0
Unnamed: 18     597
Unnamed: 19     417
Unnamed: 20     202
Unnamed: 21       0
Unnamed: 22       0
Unnamed: 23       0
Unnamed: 24       0
Unnamed: 25       0
Unnamed: 26       0
Unnamed: 27       0
Unnamed: 28       0
Unnamed: 29       0
Unnamed: 30       0
Unnamed: 31       0
Unnamed: 32       0
Unnamed: 33    4464
Name: 件数, dtype: int64

In [12]:
data_3.iloc[:, 0]

Unnamed: 2        0
Unnamed: 3        0
Unnamed: 4        0
Unnamed: 5        0
Unnamed: 6        0
Unnamed: 7        0
Unnamed: 8      237
Unnamed: 9        0
Unnamed: 10       0
Unnamed: 11     423
Unnamed: 12     400
Unnamed: 13     311
Unnamed: 14     440
Unnamed: 15     493
Unnamed: 16      90
Unnamed: 17       0
Unnamed: 18     801
Unnamed: 19     281
Unnamed: 20     502
Unnamed: 21     231
Unnamed: 22       0
Unnamed: 23       0
Unnamed: 24       0
Unnamed: 25       0
Unnamed: 26       0
Unnamed: 27       0
Unnamed: 28       0
Unnamed: 29       0
Unnamed: 30       0
Unnamed: 31       0
Unnamed: 32       0
Unnamed: 33    4209
Name: 件数, dtype: int64

In [13]:
# Unnamed: 33と34を削除
data_2 = data_2.drop(data_2.index[[28, 29, 30, 31]])
data_3 = data_3.drop(data_3.index[[31]])
data_6 = data_6.drop(data_6.index[[30, 31]])
data_7 = data_7.drop(data_7.index[[31]])
data_8 = data_8.drop(data_8.index[[31]])
data_9 = data_9.drop(data_9.index[[30, 31]])
data_10 = data_10.drop(data_10.index[[31]])

In [14]:
# 「件数」数が0の行を削除
data_2 = data_2[data_2['件数'] != 0]
data_3 = data_3[data_3['件数'] != 0]
data_6 = data_6[data_6['件数'] != 0]
data_7 = data_7[data_7['件数'] != 0]
data_8 = data_8[data_8['件数'] != 0]
data_9 = data_9[data_9['件数'] != 0]
data_10 = data_10[data_10['件数'] != 0]

In [15]:
# データの標準偏差及び平均を取得（正規化解除に使用）
original_mean_2 = data_2.mean()
original_std_2 = data_2.std()
print(original_mean_2)
print(original_std_2)

Unnamed: 1
件数             405.818182
作業時間(分)       2980.272727
作業人数             7.545455
リーダー人数           2.181818
合計作業人数           9.727273
作業ライン            3.000000
1人あたりの作業時間     300.119697
dtype: float64
Unnamed: 1
件数             172.813667
作業時間(分)       1260.490150
作業人数             1.863525
リーダー人数           0.603023
合計作業人数           2.284334
作業ライン            0.774597
1人あたりの作業時間     101.800955
dtype: float64

In [16]:
# データの標準偏差及び平均を取得（正規化解除に使用）
original_mean_3 = data_3.mean()
original_std_3 = data_3.std()
print(original_mean_3)
print(original_std_3)

Unnamed: 1
件数             382.636364
作業時間(分)       2788.181818
作業人数             1.545455
リーダー人数           7.000000
合計作業人数           8.545455
作業ライン            2.818182
1人あたりの作業時間     321.000000
dtype: float64
Unnamed: 1
件数             187.610913
作業時間(分)       1295.128628
作業人数             0.522233
リーダー人数           2.569047
合計作業人数           2.978712
作業ライン            0.981650
1人あたりの作業時間      95.838210
dtype: float64

In [17]:
# 対数変換
data_2 = data_2.apply(lambda x: np.log(x + 1))
data_3 = data_3.apply(lambda x: np.log(x + 1))
data_6 = data_6.apply(lambda x: np.log(x + 1))
data_7 = data_7.apply(lambda x: np.log(x + 1))
data_8 = data_8.apply(lambda x: np.log(x + 1))
data_9 = data_9.apply(lambda x: np.log(x + 1))
data_10 = data_10.apply(lambda x: np.log(x + 1))

In [18]:
# カラム名の順番を合わせる
data_2 = data_2[data_3.columns]
data_6 = data_6[data_3.columns]
data_7 = data_7[data_3.columns]
data_8 = data_8[data_3.columns]
data_9 = data_9[data_3.columns]
data_10 = data_10[data_3.columns]

In [19]:
# data_2, data_6, data_7, data_8, data_9, data_10を結合
data_test = pd.concat([data_2, data_6, data_7, data_8, data_9, data_10], ignore_index=True)

In [20]:
X_train = data_test.drop(['件数'], axis=1)
y_train = data_test['件数']
X_test = data_3.drop(['件数'], axis=1)
y_test = data_3['件数']

# ベイズ最適化

In [31]:
%pip install bayesian-optimization
from bayes_opt import BayesianOptimization
import joblib
from sklearn.model_selection import cross_val_score

def optimize_gbr_cv(n_estimators, learning_rate, max_depth, max_features, min_samples_split, subsample):
    model = GradientBoostingRegressor(
        n_estimators=int(n_estimators),
        learning_rate=learning_rate,
        max_depth=int(max_depth),
        max_features=max_features,
        min_samples_split=int(min_samples_split),
        subsample=subsample,
        random_state=42
    )
    # CVでの平均R²スコアを返す
    return cross_val_score(model, X_train, y_train, cv=5, scoring='r2').mean()

# ハイパーパラメータの範囲を設定
pbounds = {
    'n_estimators': (100, 1000),
    'learning_rate': (0.01, 0.3),
    'max_depth': (3, 10),
    'min_samples_split': (2, 20),
    'subsample': (0.5, 1.0),
    'max_features': (0.5, 1.0)

}

# ベイズ最適化の設定および実行
optimizer = BayesianOptimization(
    f=optimize_gbr_cv,
    pbounds=pbounds,
    random_state=42,
    verbose=2
)

optimizer.maximize(init_points=5, n_iter=25)

# 最良のパラメータを取得し、最適なモデルを作成
best_params = optimizer.max['params']
best_params['n_estimators'] = int(best_params['n_estimators'])
best_params['max_depth'] = int(best_params['max_depth'])
best_params['min_samples_split'] = int(best_params['min_samples_split'])
best_params['subsample'] = best_params['subsample']
best_params['max_features'] = best_params['max_features']


print("Best parameters found: ", best_params)

best_model = GradientBoostingRegressor(**best_params, random_state=42)
best_model.fit(X_train, y_train)

# テストデータでの予測
y_pred = best_model.predict(X_test)

# 精度の評価
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Test Mean Squared Error: {mse}')
print(f'Test R² Score: {r2}')


# モデル保存（拡張子は .pkl が多い）
# 学習に使った特徴量（カラム名と順番）を保存しておく
feature_names = X_train.columns.tolist()
joblib.dump((best_model, feature_names), 'model.pkl2')

print("モデルを保存しました。")

Requirement already satisfied: bayesian-optimization in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (2.0.4)
Requirement already satisfied: colorama<0.5.0,>=0.4.6 in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (from bayesian-optimization) (0.4.6)
Requirement already satisfied: numpy>=1.25 in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (from bayesian-optimization) (2.1.0)
Requirement already satisfied: scikit-learn<2.0.0,>=1.0.0 in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (from bayesian-optimization) (1.6.1)
Requirement already satisfied: scipy<2.0.0,>=1.14.1 in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (from bayesian-optimization) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (from scikit-learn<2.0.0,>=1.0.0->bayesian-optimization) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/yasudayuuya/orderpredict/.venv/lib/python3.13/site-packages (from scikit-learn<2.0.0,>=1.0.0->bayesian-optimization) (3.5.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
|   iter    |  target   | learni... | max_depth | max_fe... | min_sa... | n_esti... | subsample |
-------------------------------------------------------------------------------------------------
| 1         | 0.8011    | 0.1186    | 9.655     | 0.866     | 12.78     | 240.4     | 0.578     |
| 2         | 0.8145    | 0.02684   | 9.063     | 0.8006    | 14.75     | 118.5     | 0.985     |
| 3         | 0.7944    | 0.2514    | 4.486     | 0.5909    | 5.301     | 373.8     | 0.7624    |
| 4         | 0.8098    | 0.1353    | 5.039     | 0.8059    | 4.511     | 362.9     | 0.6832    |
| 5         | 0.8187    | 0.1423    | 8.496     | 0.5998    | 11.26     | 633.2     | 0.5232    |
| 6         | 0.8126    | 0.05368   | 9.529     | 0.6915    | 15.13     | 118.3     | 0.6026    |
| 7         | 0.8255    | 0.09437   | 8.076     | 0.5912    | 8.637     | 637.0     | 0.721     |
| 8         | 0.8442    | 0.01      | 6.603     | 0.5004    | 3.154     | 635.5     | 0.5171    |
| 9         | 0.8105    | 0.1449    | 3.194     | 0.9791    | 3.052     | 631.9     | 0.9197    |
| 10        | 0.8203    | 0.2777    | 7.208     | 0.5254    | 2.253     | 639.0     | 0.9441    |
| 11        | 0.8163    | 0.0682    | 8.157     | 0.6685    | 3.767     | 634.8     | 0.5853    |
| 12        | 0.7807    | 0.2798    | 7.033     | 0.7012    | 2.93      | 636.0     | 0.6837    |
| 13        | 0.7972    | 0.2239    | 8.541     | 0.7882    | 9.029     | 615.1     | 0.5372    |
| 14        | 0.8096    | 0.2194    | 3.201     | 0.8868    | 14.0      | 721.0     | 0.7682    |
| 15        | 0.7575    | 0.2639    | 5.342     | 0.668     | 18.93     | 592.9     | 0.6121    |
| 16        | 0.7981    | 0.1372    | 9.867     | 0.6324    | 11.45     | 353.7     | 0.7857    |
| 17        | 0.8021    | 0.04444   | 5.463     | 0.8726    | 14.27     | 607.9     | 0.6787    |
| 18        | 0.8033    | 0.1107    | 7.743     | 0.7436    | 3.65      | 113.7     | 0.6104    |
| 19        | 0.8062    | 0.1984    | 9.091     | 0.7796    | 7.953     | 955.5     | 0.7786    |
| 20        | 0.8087    | 0.1619    | 3.978     | 0.7386    | 11.6      | 199.9     | 0.649     |
| 21        | 0.8295    | 0.07548   | 3.739     | 0.5789    | 11.64     | 813.4     | 0.8764    |
| 22        | 0.8084    | 0.07437   | 7.381     | 0.7958    | 2.23      | 842.7     | 0.6348    |
| 23        | 0.8116    | 0.04027   | 8.194     | 0.7917    | 18.62     | 269.8     | 0.5992    |
| 24        | 0.7909    | 0.2752    | 3.929     | 0.7497    | 15.95     | 553.1     | 0.5411    |
| 25        | 0.8114    | 0.1928    | 4.426     | 0.6563    | 5.571     | 243.6     | 0.986     |
| 26        | 0.808     | 0.2503    | 7.917     | 0.5584    | 9.562     | 161.5     | 0.5187    |
| 27        | 0.7929    | 0.09276   | 6.993     | 0.871     | 18.44     | 171.4     | 0.8535    |
| 28        | 0.8039    | 0.1655    | 9.927     | 0.8318    | 2.065     | 550.1     | 0.6476    |
| 29        | 0.8144    | 0.02899   | 5.227     | 0.7165    | 19.98     | 157.9     | 0.8481    |
| 30        | 0.8165    | 0.1649    | 6.31      | 0.5105    | 12.41     | 666.6     | 0.816     |
=================================================================================================
Best parameters found:  {'learning_rate': np.float64(0.01), 'max_depth': 6, 'max_features': np.float64(0.5003706499886178), 'min_samples_split': 3, 'n_estimators': 635, 'subsample': np.float64(0.5170912623187933)}
Test Mean Squared Error: 4.8864627144265656e-06
Test R² Score: 0.9999833366844186
モデルを保存しました。

In [22]:
# 全てのデータに対して
# 予測を行う
y_pred = best_model.predict(X_test)

# 予測結果を元に戻す
y_pred_original = np.exp(y_pred)
y_test_original = np.exp(y_test)

# 各インデックスごとに比較結果を表示
for i in range(len(X_test)):
    print(f'Predicted: {y_pred_original[i]}')
    print(f'Actual: {y_test_original.iloc[i]}')
    print(f'Difference: {y_pred_original[i] - y_test_original.iloc[i]}')
    print('----------')

Predicted: 237.99987200887938
Actual: 238.00000000000009
Difference: -0.0001279911207063833
----------
Predicted: 424.0001939255501
Actual: 424.0
Difference: 0.00019392555009289936
----------
Predicted: 400.9996535673352
Actual: 401.00000000000006
Difference: -0.0003464326648554561
----------
Predicted: 311.9999419478685
Actual: 312.00000000000006
Difference: -5.805213157827893e-05
----------
Predicted: 441.0005248639463
Actual: 441.0
Difference: 0.0005248639462820393
----------
Predicted: 493.9996857027929
Actual: 494.00000000000017
Difference: -0.0003142972072964767
----------
Predicted: 91.00002787214923
Actual: 90.99999999999997
Difference: 2.787214926058823e-05
----------
Predicted: 801.9995268113042
Actual: 802.0000000000002
Difference: -0.00047318869599166646
----------
Predicted: 282.0002363325397
Actual: 282.00000000000006
Difference: 0.00023633253965726908
----------
Predicted: 502.999326911961
Actual: 503.0
Difference: -0.0006730880389795857
----------
Predicted: 232.00028564423
Actual: 231.99999999999997
Difference: 0.00028564423001853356
----------

In [23]:
# 表にして表示
df = pd.DataFrame({'Predicted': y_pred_original, 'Actual': y_test_original, 'Difference': y_pred_original - y_test_original})
df

              Predicted  Actual  Difference
Unnamed: 8   237.999872   238.0   -0.000128
Unnamed: 11  424.000194   424.0    0.000194
Unnamed: 12  400.999654   401.0   -0.000346
Unnamed: 13  311.999942   312.0   -0.000058
Unnamed: 14  441.000525   441.0    0.000525
Unnamed: 15  493.999686   494.0   -0.000314
Unnamed: 16   91.000028    91.0    0.000028
Unnamed: 18  801.999527   802.0   -0.000473
Unnamed: 19  282.000236   282.0    0.000236
Unnamed: 20  502.999327   503.0   -0.000673
Unnamed: 21  232.000286   232.0    0.000286

In [24]:
# differenceの絶対値を合計
df['Difference'].abs().sum()
print(df['Difference'].abs().sum())

0.0032616882747191767

In [25]:
# differenceの合計
df['Difference'].sum()
print(df['Difference'].sum())

-0.0007244114440965177

In [26]:
# differenceの標準偏差を取得
df['Difference'].std()
print(df['Difference'].std())

0.0003631956010455461

In [27]:
# differenceの平均
df['Difference'].mean()
print(df['Difference'].mean())

-6.585558582695616e-05

In [28]:
# 予測結果がプラス・マイナス100件に収まっている数を数える
# プラス・マイナス100件に収まっている数をカウントする変数
within_100_count = 0

# 各インデックスごとに比較結果を表示
for i in range(len(X_test)):
    diff = y_pred_original[i] - y_test_original.iloc[i]
    
    # 差がプラス・マイナス100件に収まっている場合
    if abs(diff) <= 100:
        within_100_count += 1

# 結果を表示
print(f'プラス・マイナス100件に収まっている数: {within_100_count}')

プラス・マイナス100件に収まっている数: 11

In [29]:
# 予測結果がプラス・マイナス100件に収まっている数を数える
# プラス・マイナス100件に収まっている数をカウントする変数
within_200_count = 0

# 各インデックスごとに比較結果を表示
for i in range(len(X_test)):
    diff = y_pred_original[i] - y_test_original.iloc[i]
    
    # 差がプラス・マイナス200件に収まっている場合
    if abs(diff) <= 200:
        within_200_count += 1

# 結果を表示
print(f'プラス・マイナス200件に収まっている数: {within_200_count}')

プラス・マイナス200件に収まっている数: 11

In [30]:
# 特徴量重要度を表示
feature_importances = best_model.feature_importances_
features = data_2.drop(columns='件数', errors='ignore').columns
df = pd.DataFrame({'features': features, 'importance': feature_importances})
df = df.sort_values(by='importance', ascending=False)
df

     features  importance
0     作業時間(分)    0.489158
5  1人あたりの作業時間    0.379603
3      合計作業人数    0.060872
1        作業人数    0.030799
4       作業ライン    0.024379
2      リーダー人数    0.015189