In [48]:
%pip install pandas scikit-learn openpyxl xlrd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Excelデータの読み込み
file_path = '/Users/yasudayuuya/BLP_data/【Aラインのみ】生産性結果記入用紙_Ver.4.3.xlsx'  # Excelファイルのパスを指定
sheet_name = '実績昼'  # 読み込むシート名を指定

data = pd.read_excel(file_path, sheet_name=sheet_name)
data.head()

Requirement already satisfied: pandas in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: scikit-learn in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (1.6.1)
Requirement already satisfied: openpyxl in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: xlrd in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: et-xmlfile in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,作業ライン,項目,2024-11-01 00:00:00,2024-11-02 00:00:00,2024-11-03 00:00:00,2024-11-04 00:00:00,2024-11-05 00:00:00,2024-11-06 00:00:00,2024-11-07 00:00:00,2024-11-08 00:00:00,...,2024-11-24 00:00:00,2024-11-25 00:00:00,2024-11-26 00:00:00,2024-11-27 00:00:00,2024-11-28 00:00:00,2024-11-29 00:00:00,2024-11-30 00:00:00,2024-12-01 00:00:00,合計,NaN
2,A-PaLS,件数,0,2199,0,0,1172,1894,2912,2794,...,1332,2867,3622,3856,2360,1597,1582,0,59330,NaN
3,NaN,作業時間(分),0,5262,0,0,2070,3567,8088,7374,...,4302,9009,7893,9682,8725,7200,4905,0,172247,NaN
4,NaN,目標件数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# 行列を逆にする
data = data.T
# 1行目を列名にする
data.columns = data.iloc[1]
# 0,1行目を削除
data = data.drop(data.index[[0, 1]])
data.head()

Unnamed: 1,NaN,項目,件数,作業時間(分),目標件数,作業人数,リーダー人数,予測,買い合わせ,NaN,項目,生産性(分/件),1日作業量/L
Unnamed: 2,NaN,2024-11-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
Unnamed: 3,NaN,2024-11-02 00:00:00,2199,5262,NaN,13,5,NaN,NaN,NaN,2,2.392906,181.787343
Unnamed: 4,NaN,2024-11-03 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0
Unnamed: 5,NaN,2024-11-04 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,0,0
Unnamed: 6,NaN,2024-11-05 00:00:00,1172,2070,NaN,NaN,6,NaN,NaN,NaN,5,1.766212,246.289855

In [50]:
# 欠損値を探す
data.isnull().sum()

Unnamed: 1
NaN         33
項目           1
件数           1
作業時間(分)      1
目標件数        33
作業人数         8
リーダー人数       7
予測          33
買い合わせ       33
NaN         33
項目           0
生産性(分/件)     0
1日作業量/L      0
dtype: int64

In [51]:
# 0,1,4,7,8,9列目を削除
data = data.drop(data.columns[[0, 1, 4, 7, 8, 9]], axis=1)
data.head()

Unnamed: 1    件数 作業時間(分) 作業人数 リーダー人数  生産性(分/件)     1日作業量/L
Unnamed: 2     0       0  NaN    NaN         0           0
Unnamed: 3  2199    5262   13      5  2.392906  181.787343
Unnamed: 4     0       0  NaN    NaN         0           0
Unnamed: 5     0       0  NaN    NaN         0           0
Unnamed: 6  1172    2070  NaN      6  1.766212  246.289855

In [52]:
# NaNを全て0に変換
data = data.fillna(0)
data.head()

/var/folders/wl/_sk4lq9107v79smv_pqvls780000gn/T/ipykernel_69908/287054918.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.fillna(0)

Unnamed: 1    件数  作業時間(分)  作業人数  リーダー人数  生産性(分/件)     1日作業量/L
Unnamed: 2     0        0     0       0  0.000000    0.000000
Unnamed: 3  2199     5262    13       5  2.392906  181.787343
Unnamed: 4     0        0     0       0  0.000000    0.000000
Unnamed: 5     0        0     0       0  0.000000    0.000000
Unnamed: 6  1172     2070     0       6  1.766212  246.289855

In [53]:
# 0列目のデータを表示
data.iloc[:, 0]
data

Unnamed: 1      件数  作業時間(分)  作業人数  リーダー人数  生産性(分/件)     1日作業量/L
Unnamed: 2       0        0     0       0  0.000000    0.000000
Unnamed: 3    2199     5262    13       5  2.392906  181.787343
Unnamed: 4       0        0     0       0  0.000000    0.000000
Unnamed: 5       0        0     0       0  0.000000    0.000000
Unnamed: 6    1172     2070     0       6  1.766212  246.289855
Unnamed: 7    1894     3567     5       4  1.883316  230.975610
Unnamed: 8    2912     8088    17       4  2.777473  156.617211
Unnamed: 9    2794     7374    17       4  2.639227  164.820993
Unnamed: 10   3176     8283    13       2  2.607997  166.794640
Unnamed: 11      0        0     0       0  0.000000    0.000000
Unnamed: 12   2679     7782    17       4  2.904815  149.751349
Unnamed: 13   2573     7017    18       3  2.727167  159.506199
Unnamed: 14   1739     6612    18       3  3.802185  114.407895
Unnamed: 15   2405     6405    17       4  2.663202  163.337237
Unnamed: 16   2862     8049    18       3  2.812369  154.673873
Unnamed: 17   2505     7236    18       3  2.888623  150.590796
Unnamed: 18      0        0     0       0  0.000000    0.000000
Unnamed: 19   2403     7698    18       3  3.203496  135.789166
Unnamed: 20   1834     6279    17       4  3.423664  127.056856
Unnamed: 21   1975     6648    18       3  3.366076  129.230596
Unnamed: 22   2805     6672    18       3  2.378610  182.879946
Unnamed: 23   2446     7938    18       3  3.245298  134.040060
Unnamed: 24   1741     7551    17       4  4.337163  100.295987
Unnamed: 25   1332     4302    10       1  3.229730  134.686192
Unnamed: 26   2867     9009    17       4  3.142309  138.433233
Unnamed: 27   3622     7893    18       3  2.179183  199.616116
Unnamed: 28   3856     9682    18       3  2.510892  173.245197
Unnamed: 29   2360     8725    18       3  3.697034  117.661891
Unnamed: 30   1597     7200    16       5  4.508453   96.485417
Unnamed: 31   1582     4905     2      13  3.100506  140.299694
Unnamed: 32      0        0     0       0  0.000000    0.000000
Unnamed: 33  59330   172247   376      97  2.903202  149.834540
Unnamed: 34      0        0     0       0  2.679185  162.362832

In [54]:
# 33,34行目を削除
data = data.drop(data.index[[31, 32]])
data

Unnamed: 1     件数  作業時間(分)  作業人数  リーダー人数  生産性(分/件)     1日作業量/L
Unnamed: 2      0        0     0       0  0.000000    0.000000
Unnamed: 3   2199     5262    13       5  2.392906  181.787343
Unnamed: 4      0        0     0       0  0.000000    0.000000
Unnamed: 5      0        0     0       0  0.000000    0.000000
Unnamed: 6   1172     2070     0       6  1.766212  246.289855
Unnamed: 7   1894     3567     5       4  1.883316  230.975610
Unnamed: 8   2912     8088    17       4  2.777473  156.617211
Unnamed: 9   2794     7374    17       4  2.639227  164.820993
Unnamed: 10  3176     8283    13       2  2.607997  166.794640
Unnamed: 11     0        0     0       0  0.000000    0.000000
Unnamed: 12  2679     7782    17       4  2.904815  149.751349
Unnamed: 13  2573     7017    18       3  2.727167  159.506199
Unnamed: 14  1739     6612    18       3  3.802185  114.407895
Unnamed: 15  2405     6405    17       4  2.663202  163.337237
Unnamed: 16  2862     8049    18       3  2.812369  154.673873
Unnamed: 17  2505     7236    18       3  2.888623  150.590796
Unnamed: 18     0        0     0       0  0.000000    0.000000
Unnamed: 19  2403     7698    18       3  3.203496  135.789166
Unnamed: 20  1834     6279    17       4  3.423664  127.056856
Unnamed: 21  1975     6648    18       3  3.366076  129.230596
Unnamed: 22  2805     6672    18       3  2.378610  182.879946
Unnamed: 23  2446     7938    18       3  3.245298  134.040060
Unnamed: 24  1741     7551    17       4  4.337163  100.295987
Unnamed: 25  1332     4302    10       1  3.229730  134.686192
Unnamed: 26  2867     9009    17       4  3.142309  138.433233
Unnamed: 27  3622     7893    18       3  2.179183  199.616116
Unnamed: 28  3856     9682    18       3  2.510892  173.245197
Unnamed: 29  2360     8725    18       3  3.697034  117.661891
Unnamed: 30  1597     7200    16       5  4.508453   96.485417
Unnamed: 31  1582     4905     2      13  3.100506  140.299694
Unnamed: 32     0        0     0       0  0.000000    0.000000

In [62]:
# 正規化 -1から1の範囲に収める  
data2 = data.astype(float) # データ型をfloatに変換
data2 = (data - data.mean()) / data.std() # 正規化。各列の値から平均を引いて標準偏差で割る
data2

Unnamed: 1         件数   作業時間(分)      作業人数    リーダー人数  生産性(分/件)   1日作業量/L
Unnamed: 2  -1.695705 -1.748705 -1.588297 -1.265237 -1.795602 -1.782370
Unnamed: 3   0.252627 -0.092640  0.114053  0.756533 -0.000189  0.827053
Unnamed: 4  -1.695705 -1.748705 -1.588297 -1.265237 -1.795602 -1.782370
Unnamed: 5  -1.695705 -1.748705 -1.588297 -1.265237 -1.795602 -1.782370
Unnamed: 6  -0.657304 -1.097231 -1.588297  1.160887 -0.470402  1.752939
Unnamed: 7  -0.017606 -0.626093 -0.933547  0.352179 -0.382538  1.533114
Unnamed: 8   0.884350  0.796763  0.637853  0.352179  0.288353  0.465754
Unnamed: 9   0.779801  0.572052  0.637853  0.352179  0.184627  0.583513
Unnamed: 10  1.118256  0.858134  0.114053 -0.456529  0.161195  0.611844
Unnamed: 11 -1.695705 -1.748705 -1.588297 -1.265237 -1.795602 -1.782370
Unnamed: 12  0.677910  0.700459  0.637853  0.352179  0.383900  0.367200
Unnamed: 13  0.583994  0.459697  0.768803 -0.052175  0.250609  0.507223
Unnamed: 14 -0.154937  0.332234  0.768803 -0.052175  1.057202 -0.140129
Unnamed: 15  0.435144  0.267087  0.637853  0.352179  0.202615  0.562215
Unnamed: 16  0.840050  0.784489  0.768803 -0.052175  0.314537  0.437859
Unnamed: 17  0.523745  0.528621  0.768803 -0.052175  0.371750  0.379249
Unnamed: 18 -1.695705 -1.748705 -1.588297 -1.265237 -1.795602 -1.782370
Unnamed: 19  0.433372  0.674022  0.768803 -0.052175  0.608001  0.166783
Unnamed: 20 -0.070766  0.227432  0.637853  0.352179  0.773195  0.041437
Unnamed: 21  0.054161  0.343564  0.768803 -0.052175  0.729986  0.072640
Unnamed: 22  0.789547  0.351118  0.768803 -0.052175 -0.010916  0.842736
Unnamed: 23  0.471471  0.749555  0.768803 -0.052175  0.639366  0.141676
Unnamed: 24 -0.153165  0.627758  0.637853  0.352179  1.458599 -0.342695
Unnamed: 25 -0.515542 -0.394773 -0.278797 -0.860883  0.627685  0.150951
Unnamed: 26  0.844480  1.086622  0.637853  0.352179  0.562093  0.204737
Unnamed: 27  1.513416  0.735393  0.768803 -0.052175 -0.160547  1.082972
Unnamed: 28  1.720742  1.298430  0.768803 -0.052175  0.088337  0.704437
Unnamed: 29  0.395274  0.997241  0.768803 -0.052175  0.978306 -0.093421
Unnamed: 30 -0.280750  0.517291  0.506903  0.756533  1.587119 -0.397393
Unnamed: 31 -0.294040 -0.204995 -1.326397  3.991365  0.530727  0.231528
Unnamed: 32 -1.695705 -1.748705 -1.588297 -1.265237 -1.795602 -1.782370

In [63]:
# 目的変数と説明変数の設定
# 'target_column'を目的変数として、他のすべてのカラムを説明変数とする
X = data2.drop(columns= '件数')
y = data2['件数']

# データセットをトレーニングセットとテストセットに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ランダムフォレスト回帰モデルの構築
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 予測
y_pred = model.predict(X_test)

# モデルの評価
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R² Score: {r2}')

Mean Squared Error: 0.057992263646625845
R² Score: 0.9203456970146162

In [64]:
# 実際に件数を予測
X_new = X_test.iloc[0].values.reshape(1, -1)
y_new = model.predict(X_new)
# Predictedは予測値、Actualは実際の値、Errorは予測値と実際の値の差
print(f'Predicted: {y_new[0]}')
print(f'Actual: {y_test.iloc[0]}')
print(f'Error: {y_test.iloc[0] - y_new[0]}')
# 正規化する前の値に戻す
X_new = X_new * data.drop(columns='件数').std().values + data.drop(columns='件数').mean().values
y_new = y_new * data['件数'].std() + data['件数'].mean()
y_test = y_test * data['件数'].std() + data['件数'].mean()
print(f'Predicted: {y_new[0]}')
print(f'Actual: {y_test.iloc[0]}')
print(f'Error: {y_test.iloc[0] - y_new[0]}')

Predicted: 0.3399869462649558
Actual: 0.39527383796061905
Error: 0.055286891695663254
Predicted: 2297.6
Actual: 2360.0
Error: 62.40000000000009

/Users/yasudayuuya/.pyenv/versions/3.10.1/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [70]:
# 特徴量重要度を表示
feature_importances = model.feature_importances_
features = X.columns
df = pd.DataFrame({'features': features, 'importance': feature_importances})
df = df.sort_values(by='importance', ascending=False)
df

   features  importance
0   作業時間(分)    0.319397
3  生産性(分/件)    0.287233
1      作業人数    0.176469
4   1日作業量/L    0.150034
2    リーダー人数    0.066867